body {
	background-color:#262626;
}

.square {
	width: 30%;
	background: salmon;
	padding-top: 30%;
	float: left;
	margin: 1.66%;

}

#container {
	margin: 0 auto;
	max-width: 600px;

}

h1 {
	color: teal;
}

#message {
	color: teal;
}